.order {
  padding: 90px 0 74px 0;

  background-color: #f1f2f5;

  @media (max-width: 645px) {
    padding: 60px 0;
  }
}
.order__title {
  margin-bottom: 22px;

  color: #343434;
  font-size: 40px;
  font-weight: 700;
}
.order__subtitle {
  margin-bottom: 31px;

  color: #343434;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.2px;

  opacity: 0.65;

  @media (max-width: 645px) {
    margin-bottom: 78px;
  }
}
.order-table {
  width: 100%;
  margin-bottom: 36px;

  @media (max-width: 850px) {
    display: flex;
    gap: 10px;
  }
}
.table-head {
  display: grid;
  grid-template-columns: minmax(125px, 1fr) repeat(3, minmax(100px, 200px)) 12px;
  justify-items: start;
  margin-bottom: 56px;

  @media (max-width: 850px) {
    grid-template-columns: none;
    grid-template-rows: 130px repeat(3, 84px) 12px;
    align-items: center;
  }
}
.table-head__item {
  color: #343434;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.order-table__body {
  margin-bottom: 57px;

  @media (max-width: 850px) {
    display: flex;
    gap: 10px;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
  }
}
.order__item {
  display: grid;
  grid-template-columns: minmax(125px, 1fr) repeat(3, minmax(100px, 200px)) 12px;
  justify-items: start;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: 850px) {
    grid-template-columns: none;
    grid-template-rows: 130px repeat(3, 84px) 12px;
  }
}
.product__img {
  width: 80px;
  height: 80px;

  margin-bottom: 9px;
}
.product__description {
  color: #2b1e18;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.77;
  letter-spacing: -0.5px;
}
.product__price {
  color: #343434;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.77;
  letter-spacing: -0.2px;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}
.quantity__btn {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: none;
  background-color: #e7e9ed;

  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity__input {
  width: 50px;
  height: 33px;

  text-align: center;

  border-radius: 3px;
  border: 1px solid #2b1e18;
}
.product__total-price {
  color: #343434;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.77;
  letter-spacing: -0.2px;
}
.product__delete-item {
  justify-self: center;
}
.product__delete-button {
  width: 12px;
  height: 12px;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/cross.png);

  cursor: pointer;
}
.order__btns {
  display: flex;
  justify-content: space-between;

  @media (max-width: 645px) {
    flex-direction: column;
    gap: 30px;
  }
}
.order__btn-go-home {
  padding: 16px;

  color: #343434;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: -0.6px;

  border-radius: 8px;
  background: #fff;

  @media (max-width: 645px) {
    max-width: 200px;
    padding: 15px;
  }
}
.order__btn-review {
  padding: 20px 52px;

  color: #343434;
  font-size: 20px;
  font-weight: 600;

  border-radius: 12px;
  background: #f4c078;

  @media (max-width: 645px) {
    max-width: 200px;
  }
}
